.hero{
    width: 100%;
    min-height: 440px;
    background: black;
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color: var(--container-text-color);
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
}
