/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.contact{
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    background: white;
    color: black;
}
